body {
    font-family: Arial, sans-serif;
    background-color: #c5e2fc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 350px;
    padding: 25px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.container h2.center-title {
    margin-bottom: 20px;
    color: #007BFF;
}

a.module-link.back-button {
    background-color: #ccc;
    color: #000;
    font-weight: normal;
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

a.module-link.back-button:hover {
    background-color: #888;
}

form#product-form {
    margin-top: 20px;
}

.form-group {
    text-align: left;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.product-info {
    text-align: left;
    margin-top: 20px;
}

.product-info p {
    margin: 10px 0;
    font-weight: bold;
}
