@import url('https://fonts.cdnfonts.com/css/gotham-6');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;1,6..12,200;1,6..12,300;1,6..12,400&family=Tilt+Warp&display=swap');

body {
    font-family: gotham;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

h1 {
    text-align: center;
    color: #1635ff;
    font-size: 40px;
}

.botao {
    background-color: #618bff;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px 30px;
    cursor: pointer;
    border-radius: 5px;
}

.colchao {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.colchao-item {
    width: 300px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.colchao-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    overflow: hidden;
}

.colchao-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.colchao-desc {
    padding: 20px;
    text-align: justify;
}

