@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto Mono";
  font-size: 24px;
  scroll-behavior: smooth;
}
section {
  height: 100vh;
  width: 100%;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
#page1 {
  background-color: #f1f1f1;
}
#page2 {
  background-color: rgb(143, 143, 143);
}
#page3 {
  background-color: #f1f1f1;
}
#page4 {
    background-color: rgb(143, 143, 143);
}
#page5 {
    background-color: #f1f1f1;
}
#page6 {
    background-color: rgb(143, 143, 143);
}

nav {
  position: sticky;
  top: 0;
  background-color: rgb(61, 61, 61);
}
nav .container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}
nav .container ul li {
  display: inline-block;
}
nav .container ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  color: black;
}
nav .container ul li.active {
  background-color: crimson;
  transition: 0.3s ease background-color;
}
nav .container ul li.active a {
  color: rgb(255, 255, 255);
}
