@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 24px;
  scroll-behavior: smooth;
}
section {
  height: 100vh;
  width: 100%;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.containerLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 150px;
}

.colchoes {
  font-family: "Tilt Warp";
  font-size: 80px;
  text-transform: uppercase;
}

.cataratas {
  font-family: "Inter Tight";
  font-size: 40px;
  font-weight: bold;
  margin-top: -25px;
  text-transform: uppercase;
  letter-spacing: 0.75rem;
  margin-left: 17px;
}

#page1 {
  background-color: #f1f1f1;
}
#page2 {
  background-color: rgb(143, 143, 143);
}
#page3 {
  background-color: #f1f1f1;
}
#page4 {
    background-color: rgb(143, 143, 143);
}
#page5 {
    background-color: #f1f1f1;
}

nav {
  position: sticky;
  top: 0;
  margin-top: -1px;
  background: rgb(7,2,92);
  background: linear-gradient(90deg, rgba(7,2,92,1) 0%, rgba(36,98,179,1) 50%, rgba(7,2,92,1) 100%);
}
nav .container {
  font-family: "Roboto Mono";
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}
nav .container ul li {
  display: inline-block;
}
nav .container ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  color: black;
}
nav .container ul li.active {
  background-color: crimson;
  transition: 0.3s ease background-color;
  background: rgba(7, 172, 255, 0.25);
  box-shadow: 3px 3px 5px #20202050;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
}
nav .container ul li.active a {
  color: rgb(255, 255, 255);
}
