@import url('https://fonts.cdnfonts.com/css/gotham-6');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
section {
  scroll-snap-align: center;
  height: 100vh;
  width: 100%;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.containerLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 150px;
}

.containerLogo img {
  width: 100%
}

.caixaLogo {
  width: 25%;
}
.imgLogo{
  display: flex;
  justify-content: center;
  width: 100%;
}

.colchoes {
  font-family: "Tilt Warp";
  font-size: 80px;
  text-transform: uppercase;
  color: white;
}

.cataratas {
  font-family: "Inter Tight";
  font-size: 40px;
  font-weight: bold;
  margin-top: -25px;
  text-transform: uppercase;
  letter-spacing: 0.75rem;
  margin-left: 17px;
  color: white;
}

#page1 {
  background-color: #f1f1f1;
  background-image: url("/assets/img/fundo.jpg");
  background-size: 100%;
}
#page3 {
  background-color: #f1f1f1;
}
#page4 {
  background-color: rgb(143, 143, 143);
}
#page5 {
  background: rgb(25,25,25);
  background: linear-gradient(45deg, rgba(25,25,25,1) 0%, rgba(42,42,42,1) 62%, rgba(60,60,60,1) 100%);
}

nav {
  z-index: 99;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.75em;
  position: fixed;
  width: 55vw;
  top: 0;
  background: white;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  border: 1px solid black;
  box-shadow: 3px 3px 5px #20202050;
}
nav .container {
  font-family: "Gotham";
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}
nav .container ul li {
  display: inline-block;
}
nav .container ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  color: black;
}
nav .container ul li.active {
  transition: 0.3s ease background-color;
  background: grey;
  box-shadow: 3px 3px 5px #20202050;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
}
nav .container ul li.active a {
  color: rgb(255, 255, 255);
}

.caixaCatalog {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.colchao{
  color: white;
  filter:brightness(60%);
  transition: 0.3s;
  font-family: gotham;
  font-size: 1.2em;
  background-position: center;
  align-items: end;
  grid-template-rows: 1fr;
  display: grid;
  bottom: 0;
  overflow: hidden;
  background-size: 100%;
  text-align: center;
}
#c1:hover .texto1{
  transform: translateY(0);
}
#c1:hover {
  filter:brightness(100%);
}
#c2:hover .texto2{
  transform: translateY(0);
}
#c2:hover {
  filter:brightness(100%);
}
#c3:hover .texto3{
  transform: translateY(0);
}
#c3:hover {
  filter:brightness(100%);
}
#c4:hover .texto4{
  transform: translateY(0);
}
#c4:hover {
  filter:brightness(100%);
}
.texto {
  transform: translateY(75%);
  transition: .3s;
}

.texto h2 {
  margin-bottom: 100px;
}
#c1{
  background-image: url("/assets/img/cama2.webp");
}
#c2{
  background-image: url("/assets/img/cama1.webp");
}
#c3{
  background-image: url("/assets/img/cama3.webp");
}
#c4{
  background-image: url("/assets/img/cama4.webp");
}

.contato {
}