body {
    font-family: Arial, sans-serif;
    background-color: #c5e2fc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 350px;
    padding: 25px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.container h2.center-title {
    margin-bottom: 20px;
    color: #007BFF;
}
a.module-link.back-button {
    background-color: #ccc;
    color: #000;
    font-weight: normal;
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 15px;
}

a.module-link.back-button:hover {
    background-color: #888;
}

table.financial-report {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table.financial-report th, table.financial-report td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

table.financial-report th {
    background-color: #007BFF;
    color: #fff;
}

table.financial-report tr:nth-child(even) {
    background-color: #f2f2f2;
}
